[class*="icon-png"] {
  display: inline-block;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: baseline;
}
[class*="icon-png16"] {
  width: 16px;
  height: 16px;
  background-image: url(../images/sprites/16/sprites.png);
}
[class*="icon-png32"] {
  width: 32px;
  height: 32px;
  background-image: url(../images/sprites/32/sprites.png);
}
[class*="icon-png48"] {
  width: 48px;
  height: 48px;
  background-image: url(../images/sprites/48/sprites.png);
}
[class*="icon-png64"] {
  width: 64px;
  height: 64px;
  background-image: url(../images/sprites/64/sprites.png);
}
.icon-png16-external {
  background-position: 0 0;
  vertical-align: middle;
}
.icon-png16-pdf {
  background-position: -32px 0;
}
.icon-png16-openoffice {
  background-position: -64px 0;
}
.icon-png16-word {
  background-position: -96px 0;
}
.icon-png16-excel {
  background-position: -128px 0;
}
.icon-png16-powerpoint {
  background-position: -160px 0;
}
.icon-png16-zip {
  background-position: -192px 0;
}
.icon-png16-xml {
  background-position: -224px 0;
}
.icon-png16-css {
  background-position: -256px 0;
}
.icon-png16-mail {
  background-position: -288px 0;
}
.icon-png16-help {
  background-position: -320px 0;
}
.icon-png16-warning {
  background-position: -352px 0;
}
.icon-png16-info {
  background-position: -384px 0;
}
.icon-png16-feed {
  background-position: -416px 0;
}
.icon-png16-libreoffice {
  background-position: -448px 0;
}
.icon-png16-text {
  background-position: -480px 0;
}
.icon-png32-external {
  background-position: 0 0;
  vertical-align: sub;
}
.icon-png32-pdf {
  background-position: -48px 0;
}
.icon-png32-openoffice {
  background-position: -96px 0;
}
.icon-png32-word {
  background-position: -144px 0;
}
.icon-png32-excel {
  background-position: -192px 0;
}
.icon-png32-powerpoint {
  background-position: -240px 0;
}
.icon-png32-zip {
  background-position: -288px 0;
}
.icon-png32-xml {
  background-position: -336px 0;
}
.icon-png32-css {
  background-position: -384px 0;
}
.icon-png32-mail {
  background-position: -432px 0;
}
.icon-png32-help {
  background-position: -480px 0;
}
.icon-png32-warning {
  background-position: -528px 0;
}
.icon-png32-info {
  background-position: -576px 0;
}
.icon-png32-feed {
  background-position: -624px 0;
}
.icon-png32-libreoffice {
  background-position: -672px 0;
}
.icon-png32-text {
  background-position: -720px 0;
}
.icon-png48-external {
  background-position: 0 0;
  vertical-align: sub;
}
.icon-png64-external {
  background-position: 0 0;
  vertical-align: sub;
}

