@font-face {
  font-family: 'link-types';
  src:url('../fonts/link-types.eot');
  src:url('../fonts/link-types.eot?#iefix') format('embedded-opentype'),
    url('../fonts/link-types.ttf') format('truetype'),
    url('../fonts/link-types.woff') format('woff'),
    url('../fonts/link-types.svg#link-types') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon-font {
  font-family: 'link-types';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

a.external,
a[href^="mailto:"]:after,
a[href$=".pdf"]:after,
a[href$=".doc"]:after,
a[href$=".xls"]:after,
a[href$=".odt"]:after,
a[href$=".txt"]:after,
a[href$=".ppt"]:after,
a[href$=".zip"]:after,
a[href$=".rss"]:after,
a[href$=".rdf"]:after,
[class*="icon-font"] 
{
  @include icon-font;
}

a[href$=".rss"]:after,
a[href$=".rdf"]:after,
.icon-font-feed:after {
  content: "\e284";
  padding-left: 0.25em;
}

a.external:after,
.icon-font-external:after {
  content: "\f08e";
  padding-left: 0.25em;
}

a[href$=".pdf"]:after,
.icon-font-pdf:after {
  content: "\e2bb";
  padding-left: 0.25em;
}

a[href$=".txt"]:after,
.icon-font-text:after {
  content: "\e052";
  padding-left: 0.25em;
}

a[href$=".doc"]:after,
.icon-font-word:after {
  content: "\e2bd";
  padding-left: 0.25em;
}

a[href$=".xls"]:after,
.icon-font-excel:after {
  content: "\e2be";
  padding-left: 0.25em;
}

a[href$=".ppt"]:after,
.icon-font-powerpoint:after {
  content: "\e2bf";
  padding-left: 0.25em;
}

a[href$=".zip"]:after,
.icon-font-zip:after {
  content: "\e2c0";
  padding-left: 0.25em;
}

.icon-font-html:after {
  content: "\e2c1";
  padding-left: 0.25em;
}

.icon-font-css:after {
  content: "\e2c2";
  padding-left: 0.25em;
}

a[href^="mailto:"]:after,
.icon-font-mail:after {
  content: "\e079";
  padding-left: 0.25em;
}

.icon-font-help:after {
  content: "\e1e0";
  padding-left: 0.25em;
}

.icon-font-warning:after {
  content: "\e1dc";
  padding-left: 0.25em;
}

.icon-font-info:after {
  content: "\e1e3";
  padding-left: 0.25em;
}

/* choose either open office or libre office for the file type */
/* by commenting out one of the a[href...] lines               */
/* a[href$=".odt"]:after, */
.icon-font-openoffice:after {
  content: "\e2bc";
  padding-left: 0.25em;
}

a[href$=".odt"]:after,
.icon-font-libreoffice:after {
  content: "\e2ba";
  padding-left: 0.25em;
}

.noIcon:after {
    content: none;
    font-size: 0;
    padding-left: 0;
}