@font-face {
  font-family: 'link-types';
  src:url('../fonts/link-types.eot');
  src:url('../fonts/link-types.eot?#iefix') format('embedded-opentype'),
    url('../fonts/link-types.ttf') format('truetype'),
    url('../fonts/link-types.woff') format('woff'),
    url('../fonts/link-types.svg#link-types') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon-font {
  font-family: 'link-types';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

a.external,
a[href^="mailto:"]:after,
a[href$=".pdf"]:after,
a[href$=".doc"]:after,
a[href$=".xls"]:after,
a[href$=".odt"]:after,
a[href$=".ppt"]:after,
a[href$=".zip"]:after,
a[href$=".rss"]:after,
a[href$=".rdf"]:after,
[class*="icon-"][class*="-kwd"] 
{
  @include icon-font;
}

a[href$=".rss"]:after,
a[href$=".rdf"]:after,
.icon-link-feed-kwd:after {
  content: "\e284";
  padding-left: 0.25em;
}

a.external:after,
.icon-link-external-kwd:after {
  content: "\f08e";
  padding-left: 0.25em;
}

a[href$=".pdf"]:after,
.icon-link-pdf-kwd:after {
  content: "\e2bb";
  padding-left: 0.25em;
}

a[href$=".odt"]:after,
.icon-link-openoffice-kwd:after {
  content: "\e2bc";
  padding-left: 0.25em;
}

a[href$=".doc"]:after,
.icon-link-word-kwd:after {
  content: "\e2bd";
  padding-left: 0.25em;
}

a[href$=".xls"]:after,
.icon-link-excel-kwd:after {
  content: "\e2be";
  padding-left: 0.25em;
}

a[href$=".ppt"]:after,
.icon-link-powerpoint-kwd:after {
  content: "\e2bf";
  padding-left: 0.25em;
}

a[href$=".zip"]:after,
.icon-link-zip-kwd:after {
  content: "\e2c0";
  padding-left: 0.25em;
}

.icon-link-html-kwd:after {
  content: "\e2c1";
  padding-left: 0.25em;
}

.icon-link-css-kwd:after {
  content: "\e2c2";
  padding-left: 0.25em;
}

a[href^="mailto:"]:after,
.icon-link-mail-kwd:after {
  content: "\e079";
  padding-left: 0.25em;
}

.icon-link-help-kwd:after {
  content: "\e1e0";
  padding-left: 0.25em;
}

.icon-link-warning-kwd:after {
  content: "\e1dc";
  padding-left: 0.25em;
}

.icon-link-info-kwd:after {
  content: "\e1e3";
  padding-left: 0.25em;
}

.noIcon:after {
  content: ";";
  padding-left: 0;
}