[class*="icon-svg"] {
  display: inline-block;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../images/sprites/sprites.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-svg-image-external {
  background-position: 0 0;
  width: 32px;
}
.icon-svg-image-file-pdf {
  background-position: -48px 0;
  width: 32px;
}
.icon-svg-image-file-openoffice {
  background-position: -96px 0;
  width: 32px;
}
.icon-svg-image-file-word {
  background-position: -144px 0;
  width: 32px;
}
.icon-svg-image-file-excel {
  background-position: -192px 0;
  width: 32px;
}
.icon-svg-image-file-powerpoint {
  background-position: -240px 0;
  width: 32px;
}
.icon-svg-image-file-zip {
  background-position: -288px 0;
  width: 32px;
}
.icon-svg-image-file-xml {
  background-position: -336px 0;
  width: 32px;
}
.icon-svg-image-file-css {
  background-position: -384px 0;
  width: 32px;
}
.icon-svg-image-mail {
  background-position: -432px 0;
  width: 32px;
}
.icon-svg-image-help {
  background-position: -480px 0;
  width: 32px;
}
.icon-svg-image-warning {
  background-position: -528px 0;
  width: 32px;
}
.icon-svg-image-info {
  background-position: -576px 0;
  width: 32px;
}
.icon-svg-image-feed {
  background-position: -624px 0;
  width: 32px;
}
