@font-face {
  font-family: 'link-types';
  src: url("../fonts/link-types.eot");
  src: url("../fonts/link-types.eot?#iefix") format("embedded-opentype"), url("../fonts/link-types.ttf") format("truetype"), url("../fonts/link-types.woff") format("woff"), url("../fonts/link-types.svg#link-types") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 22, ../sass/link-icon-font.scss */
a {
  text-decoration: none;
}

/* line 40, ../sass/link-icon-font.scss */
a.external,
a[href^="http:"]:after,
a[href^="https:"]:after,
a[href^="mailto:"]:after,
a[href$=".pdf"]:after,
a[href$=".doc"]:after,
a[href$=".xls"]:after,
a[href$=".odt"]:after,
a[href$=".txt"]:after,
a[href$=".ppt"]:after,
a[href$=".zip"]:after,
a[href$=".rss"]:after,
a[href$=".rdf"]:after,
[class*="kwd-icon-font"] {
  font-family: 'link-types';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.2;
}

/* line 46, ../sass/link-icon-font.scss */
a[href$=".rss"]:after,
a[href$=".rdf"]:after,
.kwd-icon-font-feed:after {
  content: "\e284";
  padding-left: 0.25em;
}

/* line 54, ../sass/link-icon-font.scss */
a.external:after,
a[href^="http:"]:after,
a[href^="https:"]:after,
.kwd-icon-font-external:after {
  content: "\f08e";
  padding-left: 0.25em;
}

/* line 60, ../sass/link-icon-font.scss */
a[href$=".pdf"]:after,
.kwd-icon-font-pdf:after {
  content: "\e2bb";
  padding-left: 0.25em;
}

/* line 66, ../sass/link-icon-font.scss */
a[href$=".txt"]:after,
.kwd-icon-font-text:after {
  content: "\e052";
  padding-left: 0.25em;
}

/* line 72, ../sass/link-icon-font.scss */
a[href$=".doc"]:after,
.kwd-icon-font-word:after {
  content: "\e2bd";
  padding-left: 0.25em;
}

/* line 78, ../sass/link-icon-font.scss */
a[href$=".xls"]:after,
.kwd-icon-font-excel:after {
  content: "\e2be";
  padding-left: 0.25em;
}

/* line 84, ../sass/link-icon-font.scss */
a[href$=".ppt"]:after,
.kwd-icon-font-powerpoint:after {
  content: "\e2bf";
  padding-left: 0.25em;
}

/* line 90, ../sass/link-icon-font.scss */
a[href$=".zip"]:after,
.kwd-icon-font-zip:after {
  content: "\e2c0";
  padding-left: 0.25em;
}

/* line 95, ../sass/link-icon-font.scss */
.kwd-icon-font-html:after {
  content: "\e2c1";
  padding-left: 0.25em;
}

/* line 100, ../sass/link-icon-font.scss */
.kwd-icon-font-css:after {
  content: "\e2c2";
  padding-left: 0.25em;
}

/* line 106, ../sass/link-icon-font.scss */
a[href^="mailto:"]:after,
.kwd-icon-font-mail:after {
  content: "\e079";
  padding-left: 0.25em;
}

/* line 111, ../sass/link-icon-font.scss */
.kwd-icon-font-help:after {
  content: "\e1e0";
  padding-left: 0.25em;
}

/* line 116, ../sass/link-icon-font.scss */
.kwd-icon-font-warning:after {
  content: "\e1dc";
  padding-left: 0.25em;
}

/* line 121, ../sass/link-icon-font.scss */
.kwd-icon-font-info:after {
  content: "\e1e3";
  padding-left: 0.25em;
}

/* choose either open office or libre office for the file type */
/* by commenting out one of the a[href...] lines               */
/* a[href$=".odt"]:after, */
/* line 129, ../sass/link-icon-font.scss */
.kwd-icon-font-openoffice:after {
  content: "\e2bc";
  padding-left: 0.25em;
}

/* line 135, ../sass/link-icon-font.scss */
a[href$=".odt"]:after,
.kwd-icon-font-libreoffice:after {
  content: "\e2ba";
  padding-left: 0.25em;
}

/* line 140, ../sass/link-icon-font.scss */
.noIcon:after {
  content: none;
  font-size: 0;
  padding-left: 0;
}
