[class*="icon-"] {
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url(sprites.svg);
	background-repeat: no-repeat;
}
.icon-untitled {
	background-position: 0 0;
	width: 48px;
}
.icon-file-pdf {
	background-position: -64px 0;
	width: 48px;
}
.icon-file-openoffice {
	background-position: -128px 0;
	width: 48px;
}
.icon-file-word {
	background-position: -192px 0;
	width: 48px;
}
.icon-file-excel {
	background-position: -256px 0;
	width: 48px;
}
.icon-file-powerpoint {
	background-position: -320px 0;
	width: 48px;
}
.icon-file-zip {
	background-position: -384px 0;
	width: 48px;
}
.icon-file-xml {
	background-position: -448px 0;
	width: 48px;
}
.icon-file-css {
	background-position: -512px 0;
	width: 48px;
}
.icon-mail {
	background-position: -576px 0;
	width: 48px;
}
.icon-help {
	background-position: -640px 0;
	width: 48px;
}
.icon-warning {
	background-position: -704px 0;
	width: 48px;
}
.icon-info {
	background-position: -768px 0;
	width: 48px;
}
.icon-feed {
	background-position: -832px 0;
	width: 48px;
}
.icon-libreoffice {
	background-position: -896px 0;
	width: 48px;
}
.icon-file {
	background-position: -960px 0;
	width: 48px;
}
